<section class="about-section d-flex align-items-center" id="about">
  <div class="container ">
    <div class="about-content">

      
      
      <div class="container">
        <div class="row align-items-center">
                    <div class="col-lg-6">
            <div #aboutContainer >
              <!-- <h2 class="section-title">About Section</h2> -->
               <h2 class="about-title falling-text">
                <div class="falling-text" appScrollTrigger>
                  <span *ngFor="let item of 'About Section' | fallingText:0.07" 
                        [style.animation-delay.s]="item.delay">
                    {{ item.char }}
                  </span>
                </div>
              </h2>
              <p #aboutText class="about-text">i’m software engineer With 3+ years of professional experience in frontend development across multiple platforms, including Angular, ABP , Shopify, and React. I also provide backend support with various technologies such as Node.js and ASP .NET,  Lorem Ipsum is simply dummy text of the printing and typesetting . Lorem Ipsum has been the industry's.</p>
              <!-- <a href="#" class="btn btn-primary">Learn More</a> -->
            </div>
          </div>

          <div class="col-lg-6">
            <div class="about-image">
              <img src="assets/images/about/about-image.png" alt="About Image" class="img-fluid">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
